<%# 현재시간에서 1주일 이전 게시글 %>
<% if Time.now - qna.created_at <= 7.days %>
    <% if (qna.get_upvotes.size - qna.get_downvotes.size) > 0 %>
        <div class="row">
            <%# 제목 %>
            <div align="left" class="col-10 col-sm-10 col-md-12 etc" style="padding: 2px 2px 2px 2px; margin-left: 40px;">
                <%= link_to qna_path(qna.qna) do %>
                    <%= content_tag(:span, " <b>#{qna.get_upvotes.size - qna.get_downvotes.size}</b>".html_safe, class: "far fa-thumbs-up etc", style: "font-weight: normal !important; font-size: 15px; margin-left: 5px; margin-right: 10px;") %>
                    <%= content_tag(:span, truncate( raw( sanitize(qna.body, :tags => %w(table tr td), :attributes => %w(id class style) ) ), :length => 30, :omission => "..."), class: "etc") %><br/>
                <% end %>
            </div>
        </div>
    <% end %>
<% end %>