<div align="left" style="margin-top:20px;" class="row">
    <% @bulletins.each do |bulletin| %>
        <% if bulletin.title == "복덕방" %>
            <p class="col-3 col-sm-2 col-md-1"><%= link_to "복덕방", bulletin_posts_path(bulletin), class: "sub_menu-link" %></p>
        <% end %>
        <% if bulletin.title == "방 구해요" %>
            <p class="col-3 col-sm-3 col-md-1"><%= link_to "방 구해요", bulletin_posts_path(bulletin), class: "sub_menu-link" %></p>
        <% end %>
        <% if bulletin.title == "아나바다" %>
            <p class="col-3 col-sm-2 col-md-1"><%= link_to "아나바다", bulletin_posts_path(bulletin), class: "sub_menu-link" %></p>
        <% end %>
    <% end %>
    <p class="offset-sm-1 offset-md-7 badge badge-pill badge-success hidden-xs-down" style="padding: 5px"><i class="fa fa-clock-o" aria-hidden="true"></i> 현재 시간 </span> <span><%= Time.zone.now.strftime('%Y-%m-%d %H:%M:%S') %></p>
</div>