<div class="comments-container">
    <% if commentable.comment_threads.count < 30 %>
        <%# 최신글일 수록 아래에 %>
        <%= render partial: "comments/reply_ASC", locals: {comments: commentable.root_comments} %>
    <% else %>
        <%# 최신글일 수록 위에 %>
        <%= render partial: "comments/reply_DESC", locals: {comments: commentable.root_comments} %>
    <% end %>
</div>

<%= render partial: "comments/form", locals: {new_comment: new_comment} %>