<div class="row separate_board" bgcolor="white" onMouseOver="this.style.backgroundColor='#ECECEC'" onMouseOut="this.style.backgroundColor='#FFFFFF'">
    <% # 글 번호 %>
    <div align="center" class="col-0 col-sm-0 col-md-1 hidden-sm-down" style="padding: 10px;">
      <%= post.id %>
    </div>
    
    <%# 작성자 %>
    <div align="center" class="col-0 col-sm-0 col-md-2 etc hidden-sm-down" style="padding: 10px;">
      <%= render 'posts/special/nickname_post_index', post: post %>
    </div>
    
    <%= render "all_notices/list/board_notice_normal_index", post: post %>
</div>