<div style="margin-top: 100px;"></div>
<div class="container">
    <div class="row">
        <div class="hidden-sm-up col-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">유저 목록</h3>
                </div>
                <div class="panel-body">
                    <ul>
                        <% @users.each do |user| %>
                            <li><%= link_to user.nickname.truncate(15, omission: '...'), conversations_path(user_id: user), remote: true, method: :post %></li>
                        <% end %>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="col-sm-7 col-md-9">
            <ul id="conversations-list">
                <% @conversations.each do |conversation| %>
                    <%= render 'conversations/conversation', conversation: conversation, user: current_user %>
                    <div style="margin-top: 30px;"></div>
                <% end %>
            </ul>
        </div>
        
        <div class="hidden-xs-down col-sm-5 col-md-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">유저 목록</h3>
                </div>
                
                <input type="text" id="typeahead">
                
                <div class="panel-body" style="margin-top: 50px;">
                    <ul>
                        <% @users.each do |user| %>
                            <li><%= link_to user.nickname.truncate(15, omission: '...'), conversations_path(user_id: user), remote: true, method: :post %></li>
                        <% end %>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
// initialize bloodhound engine
var bloodhound = new Bloodhound({
  datumTokenizer: function (d) {
    return Bloodhound.tokenizers.whitespace(d.value);
  },
  queryTokenizer: Bloodhound.tokenizers.whitespace,

  // sends ajax request to /typeahead/%QUERY
  // where %QUERY is user input
  remote: '/search_user/%QUERY', 
  limit: 50
});
bloodhound.initialize();

// initialize typeahead widget and hook it up to bloodhound engine
// #typeahead is just a text input
$('#typeahead').typeahead(null, {
  displayKey: 'nickname',
  source: bloodhound.ttAdapter()
});

// this is the event that is fired when a user clicks on a suggestion
$('#typeahead').bind('typeahead:selected', function(event, datum, name) {
  doSomething(datum.id);
});
</script>