<table width="100%">
    <tr>
        <td>
            <div class="nav-tabs-navigation">
                <div class="nav-tabs-wrapper">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#back" role="tab" style="margin-bottom: 0px; color: black; font-size: 15px;">백록관(백반)</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#chun" role="tab" style="margin-bottom: 0px; color: black; font-size: 15px;">천지관(백반)</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#normal" role="tab" style="margin-bottom: 0px; color: black; font-size: 15px;">재정(퇴계관 등)</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#BTL" role="tab" style="margin-bottom: 0px; color: black; font-size: 15px;">BTL</a>
                        </li>
                    </ul>
                </div>
            </div>
            <br/>
        </td>
    </tr>
    <tr>
        <td>
            <!-- Tab panes -->
            <div class="tab-content" style="margin-top: -40px;">
                <%# 백록관(백반) 식단 %>
                <div class="tab-pane fade show active" id="back" role="tabpanel">
                    <% @dormitory_meal_normal.first(1).each_with_index do |meal, index| %> 
                        <div class="col-1 col-sm-1 col-md-12">
                            <%= meal %>
                        </div>
                    <% end %>
                </div>
                <%# 천지관(백반) 식단 %>
                <div class="tab-pane fade show active" id="chun" role="tabpanel">
                    <% @dormitory_meal_normal.first(1).each_with_index do |meal, index| %> 
                        <div class="col-1 col-sm-1 col-md-12">
                            <%= meal %>
                        </div>
                    <% end %>
                </div>
                <%# 기숙사 재정생활관 식단 %>
                <div class="tab-pane fade show active" id="normal" role="tabpanel">
                    <% @dormitory_meal_normal.first(1).each_with_index do |meal, index| %> 
                        <div class="col-1 col-sm-1 col-md-12">
                            <%= meal %>
                        </div>
                    <% end %>
                </div>
                <%# 기숙사 BTL 식단 %>
                <div class="tab-pane fade" id="BTL" role="tabpanel">
                    <% @dormitory_meal_BTL.first(1).each_with_index do |meal, index| %> 
                        <div class="col-1 col-sm-1 col-md-12">
                            <%= meal %>
                        </div>
                    <% end %>
                </div>
            </div>
        </td>
    </tr>
</table>