<div style="margin-top: 15px;"></div>
<% CrawlingNotice.order("created_at DESC").first(4).each do |info| %>
  <div class="col-md-12">
    <a href="http://www.kangwon.ac.kr/www/<%= info.url %>" target="_blank">
      <%= content_tag(:span, '<i class="fas fa-caret-right"></i>'.html_safe, class: "etc", style: "font-weight: normal !important;") %>
      <%= content_tag(:span, truncate( raw( sanitize(info.campus, :tags => %w(table tr td), :attributes => %w(id class style) ) ), :length => 10, :omission => "..."), class: "etc badge badge-primary") %>
      <%= content_tag(:span, truncate( raw( sanitize(info.title, :tags => %w(table tr td), :attributes => %w(id class style) ) ), :length => 20, :omission => "..."), class: "etc") %>
    </a>
  </div>
<% end %>