<%# ITX 출발 전철 정보 %>
<%# PC %>
<div class="hidden-sm-down" align="right" style="background: url('/img/bus.jpg') no-repeat; background-position: 0px -110px; background-color: white; border-radius: 60px; padding: 10px; margin-top: 20px;">
    <span style="margin-right: 20px;"> <b style="color: #53c371">남춘천역 ↔ 강원대
    <% if (Time.zone.now.strftime("%H").to_i >= 0 && Time.zone.now.strftime("%H").to_i <= 11) %>
        <b style="color: #7f99ff">등교 버스</b>
    <% else %>
        <b style="color: #ff9e7f">하교 버스</b>
    <% end %>
    </b> | </span>
    <span>
    <% CrawlingBus.first(1).each do |info| %>
        <%= content_tag(:span, truncate( raw( sanitize(info.title, :tags => %w(table tr td), :attributes => %w(id class style) ) ), :length => 100, :omission => "..."), class: "etc", style: "font-weight: bold;") %>
    <% end %>
    </span>
    <span style="margin-right: 20px;"> 출발합니다.</span><br/>
     <small style="margin-right: 25px;">powered by. 강원대학교</small>
</div>

<%# 모바일 %>
<div class="hidden-md-up" align="right" style="background: url('/img/bus.jpg') no-repeat; background-position: -150px -100px; background-color: white; border-radius: 30px; padding: 10px; margin-top: 20px;">
  <span style="margin-right: 0px;"> <b style="color: #53c371">남춘천역 ↔ 강원대
    <% if (Time.zone.now.strftime("%H").to_i >= 0 && Time.zone.now.strftime("%H").to_i <= 11) %>
        <b style="color: #7f99ff">등교 버스</b>
    <% else %>
        <b style="color: #ff9e7f">하교 버스</b>
    <% end %>
    </b> | </span><br/>
    <span style="font-size: 13px;">
    <% CrawlingBus.first(1).each do |info| %>
        <%= content_tag(:span, truncate( raw( sanitize(info.title, :tags => %w(table tr td), :attributes => %w(id class style) ) ), :length => 100, :omission => "..."), class: "etc", style: "font-weight: bold") %>
    <% end %>
        출발합니다.</span>
</div>