<%# 경춘천 출발 전철 정보 %>
<%# PC %>
<div class="hidden-sm-down" align="right" style="background: url('/img/station_logo.png') no-repeat; background-color: white; border-radius: 60px; padding: 10px; margin-top: 10px;">
    <span style="margin-right: 60px;">남춘천 발 <b style="color: #42b9ff">경춘선</b> <b style="color: red">급행전철</b> | </span>
    <% if (Time.zone.now.strftime("%A") == "Saturday" || Time.zone.now.strftime("%A") == "Sunday") %>
        <span style="margin-right: 30px;">주말엔 급행열차 운행을 안합니다.</span>
    <% else %>
        <% @subway_rapid_time.first(1).each_with_index do |info, index| %>
            <%= content_tag(:span, truncate( raw( sanitize(info, :tags => %w(table tr td), :attributes => %w(id class style) ) ), :length => 100, :omission => "..."), class: "etc") %>
        <% end %>
        <span style="margin-right: 30px;">출발합니다.</span>
    <% end %>
</div>

<%# 모바일 %>
<div class="hidden-md-up" align="right" style="background: url('/img/station_logo.png') no-repeat; background-position: -320px 12px; background-color: white; border-radius: 30px; padding: 10px; margin-top: 20px;">
  <span style="margin-right: 20px;">남춘천 발 <b style="color: #42b9ff">경춘선</b> <b style="color: red">급행전철</b> | </span><br/>
    <% if (Time.zone.now.strftime("%A") == "Saturday" || Time.zone.now.strftime("%A") == "Sunday") %>
        <small style="margin-right: 30px;">주말엔 급행열차 운행을 안합니다.</small>
    <% else %>
        <% @subway_rapid_time.first(1).each_with_index do |info, index| %>
            <%= content_tag(:span, truncate( raw( sanitize(info, :tags => %w(table tr td), :attributes => %w(id class style) ) ), :length => 100, :omission => "..."), class: "etc") %>
        <% end %>
        <span class="hidden-md-up" style="margin-right: 20px;">출발합니다.</span>
    <% end %>
</div>