<div style="background-color: #1bd8a9; padding: 20px 0px 20px 0px;">
    <div class="container">
        <p style="color: white; font-size: 30px;"><i class="fa fa-bolt" aria-hidden="true"></i> 홈페이지 Publisher까지 앞으로..</p>
        <b><div id="newcountdown" align="center" style="color: white; font-size: 50px;"></div></b>
        <p style="margin-top: 30px; color: white; font-size: 20px;" align="center">가즈아ㅏㅏㅏ</p>
        </p>
    </div>
</div>