<div style="padding: 5px;">
    <% @notices_all.first(5).each do |post| %>
        <%= link_to all_notice_path(post) do %>
            <div class="row">
                <div class="col-1 col-sm-1 col-md-1"><%= content_tag(:span, '<i class="fas fa-caret-right"></i>'.html_safe, class: "etc", style: "font-weight: normal !important; margin-left: 10px;") %></div>
                <div class="col-11 col-sm-11 col-md-11" style="margin-left: -15px;"><%= content_tag(:span, truncate( raw( sanitize(post.title, :tags => %w(table tr td), :attributes => %w(id class style) ) ), :length => 25, :omission => "..."), class: "etc") %></div>
            </div>
        <% end %>
    <% end %>
</div>