<div class="comments-container">
  <%= render partial: "comments_no_named/reply", locals: {comments: commentable.root_comments} %>
</div>
<%= render partial: "comments_no_named/form", locals: {new_comment: new_comment} %>