<% if @bulletin.promote_store == true || @bulletin.member_boss == true || @bulletin.member_univ == true || @bulletin.admin_only %>
    <% if ((@bulletin.title == "사장님 공지사항" || @bulletin.title == "학교 관계자 공지사항") && @bulletin.admin_only == true) && (current_user.has_role? :admin) %>
        <%= render 'form' %>
    <% elsif (not (@bulletin.title == "사장님 공지사항" || @bulletin.title == "학교 관계자 공지사항")) %>
        <%= render 'form' %>
    <%# elsif (@bulletin.member_boss == true) && (current_user.has_any_role? :store_boss, :real_estate) %>
        <%#= render 'form' %>
    <% else %>
        <div class="alert alert-danger" role="alert">
            <div align="center">
                <i class="fas fa-exclamation-triangle" aria-hidden="true" style="color: red"></i> <b style="color: red">권한경고</b> : 허가받지 않은 유저
                <hr/>
                <div align="left">
                    <b><%= current_user.nickname %></b> 님은 해당 게시판 글 작성 권한이 없습니다.
                </div>
            </div>
        </div>
    <% end %>
<% else %>
    <%= render 'form' %>
<% end %>