<div class="comments-container">  
  <%= render partial: "comments_votable/reply", locals: {comments: commentable.root_comments} %>
</div>

<%= render partial: "comments_votable/form", locals: {new_comment: new_comment} %>